* {
  box-sizing: border-box; 
  margin: 0;
}

body {
  font-family: 'Urbanist', sans-serif;
  color: rgb(0, 49, 174)
}

.container {
  /* max-width: 40rem; */
  padding: 1.5rem;
  margin: 1.5rem;
  /* border: 5px solid rgba(97, 213, 255);  */
  box-shadow: 0 0 30px #b3daf7;
  border-radius: 15px;
}

.container-invalid {
  box-shadow: 0 0 30px #DC2626;
}

h1 {
  color: rgb(0, 49, 174);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  color:rgb(181, 5, 5);
  margin: 1rem;
  font-style: italic;
}

.input-field {
  width: 100%;
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  padding: 0.5rem 0;
}

.input-field input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.input-field button {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 10 auto;
  color: black;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px #63c8f2;
  cursor: pointer;
  border: 1px solid rgba(119, 189, 250, 0.714);
  border-radius: 5px;
  justify-self: center;
}

.input-field button:hover {
  background-color: rgba(177, 206, 255, 0.673);
  box-shadow: inset 0 0 20px white;
}

.input-group {
  display: flex;
}

.input-group input {
  flex: 1;
  margin-right: 0.5rem;
}

.input-group input:last-child {
  margin-right: 0;
}

label.input-invalid {
  color: #DC2626;
  font-weight: bold;
}

input.input-invalid {
  border-color:  #DC2626;
  box-shadow: inset 0 0 2px red;
}

label.input-valid {
  color: #22C55E;
  font-weight: bold;
}

input.input-valid {
  border-color: #22C55E;
  box-shadow: inset 0 0 3px #22C55E;
}



